* {
    box-sizing: border-box;
}

header {
    width: 400px;
    background-color: rgb(255, 65, 65);
    text-align:center;
    color: rgb(255, 255, 228);
    font-family: roboto slab;
    border-radius: 20px 20px 0px 0px;
    
}

h1 {
    text-transform: uppercase;
    font-size: 4rem;
    line-height: 80px;
    
}

h1, h2 {
    margin: 0px;
}

h2 {
    line-height: 30px;
    font-weight: 400px;
    padding-bottom: 10px;
    
}

main {
    color: rgb(37, 36, 32);
    font-size: 5rem;
    font-family: nanum brush script;
    background-color: rgb(255, 255, 228);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 400px;
}

footer {
    background-color: rgb(255, 65, 65);
    height: 30px;
    border-radius: 0px 0px 20px 20px;
    width: 400px;
}

section {
    padding: 10px;
}